/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.oj-bg-brand-10 {
  border-color: gray;
  border-style: dotted;
}

.oj-bg-brand-30 {
  border-color: green;
  border-style: dotted;
}

.oj-bg-danger-30 {
  border-color: red;
  border-style: outset;
}

.oj-bg-info-30 {
  border-color: blue;
  border-style: outset;
}

.oj-bg-neutral-0 {
  border-color: rgb(199, 236, 236);
  border-style: dotted;
}

.oj-ux-ico-success-s{
  font-size: 24px;
  color:blueviolet;
}

.oj-ux-ico-chat-on{
  font-size: 24px;
  color:darkgreen;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 2px;
}

.app-title {
  margin-top: 35px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.500);
}

.selected-value {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
}

.oj-ux-ico-book::before {
  font-size: 24px;
  color: coral;
}

.oj-ux-ico-home::before {
  font-size: 24px;
  color: green;
}

.oj-ux-ico-color-palette::before {
  font-size: 24px;
  color: red;
}

.oj-ux-ico-bar-chart::before {
  font-size: 24px;
  color: blue;
}

.oj-ux-ico-information-s::before {
  font-size: 24px;
  color: black;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}